html {
    -webkit-font-smoothing: antialiased;
    background: #fff;
}

body {
    width: 550px;
    margin: auto;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

td {
    width: 700px;
}

tr {
    text-align: center;
}

table td:nth-child(odd) {
    text-align:right;
    width:65px;
}

#t1 td:nth-child(even) {
    text-align:left;
    width:175px;
}

#t2 tr:nth-child(odd) td:nth-child(even) {
    text-align:left;
    width:175px;
}

#t2 tr:nth-child(even) td:nth-child(even) {
    text-align:center;
    width:175px;
}

table {
    margin:auto;
}

#t1 input[type=text] {
    border: 3px solid blue;
}

#t2 input[type=text] {
    border: 3px solid green;
}

input[type=text] {
    text-align:center;
}